.carouselContainer {
  position: relative;
  text-align: center;
}

.carousel {
  background-color: black;
  position: static;
  max-height: 600px;
  min-height: 176px;
  display: flex;
  overflow-x: scroll;
  overflow-y: hidden;
  scroll-snap-align: start;
  scroll-snap-type: x mandatory;
  -webkit-overflow-scrolling: touch;
}

.carouselContainer .carousel img {
  scroll-snap-align: center;
  width: 100%;
  height: auto;
}

.carouselContainer .carousel div {
  align-self: center;
  align-content: stretch;
  flex: 1 0 100%;
  scroll-snap-align: center;
  max-width: 100%;
}

.left {
  background-color: rgba(0, 0, 0, 0.4);
  border-radius: 100%;
  color: white;
  padding: 0.3em 0.3em 0 0.3em;
  position: absolute;
  left: 1em;
  top: 45%;
  margin: auto;
  cursor: pointer;
}

.right {
  background-color: rgba(0, 0, 0, 0.4);
  border-radius: 100%;
  padding: 0.3em 0.3em 0 0.3em;
  color: white;
  position: absolute;
  right: 1em;
  top: 45%;
  margin: auto;
  cursor: pointer;
}

.right:hover {
  background-color: rgba(0, 0, 0, 0.7);
}

.left:hover {
  background-color: rgba(0, 0, 0, 0.7);
}

.indicators {
  position: absolute;
  left: 49%;
  bottom: 2em;
  z-index: 1000;
  margin: auto;
  padding-left: 0;
  list-style: none;
  white-space: nowrap;
}

.indicator {
  display: inline-block;
  width: 0.6em;
  height: 0.6em;
  margin: 0.2em;
  border: 1px solid #fff;
  border-radius: 1em;
  cursor: pointer;
  background-color: rgba(0, 0, 0, 0);
}

.large-ind {
  transition: 0.6s;
  transform: scale(0.9);
}

.medium-ind {
  transition: 0.6s;
  transform: scale(0.7);
}

.small-ind {
  transition: 0.6s;
  transform: scale(0.5);
}

.ex-small-ind {
  transition: 0.6s;
  transform: scale(0.3);
}

.active-ind {
  transition: 0.6s;
  background-color: white;
  transform: scale(0.9999);
}

.inactive-ind {
  transition: 0.6s;
  transform: scale(0);
}
