.carouselContainer {
  position: relative;
  text-align: center;
  line-height: 1.5;
  font-size: 0.8em;
}

.carousel {
  background-color: black;
  position: static;
  max-height: 600px;
  min-height: 176px;
  display: flex;
  overflow-x: scroll;
  overflow-y: hidden;
  scroll-snap-align: start;
  scroll-snap-type: x mandatory;
  -webkit-overflow-scrolling: touch;
}

.carouselContainer .carousel img {
  scroll-snap-align: center;
  width: 100%;
  height: auto;
  align-self: center;
  align-content: stretch;
  flex: 1 0 100%;
  max-width: 100%;
}

.carouselContainer .carousel .videoContainer {
  scroll-snap-align: center;
  flex: 1 0 100%;
  max-width: 100%;
  padding-bottom: 19px;
}

.left {
  background-color: rgba(0, 0, 0, 0.4);
  border-radius: 100%;
  color: white;
  padding: 0.3em 0.3em 0 0.3em;
  position: absolute;
  left: 1em;
  top: 45%;
  margin: auto;
  cursor: pointer;
}

.right {
  background-color: rgba(0, 0, 0, 0.4);
  border-radius: 100%;
  padding: 0.3em 0.3em 0 0.3em;
  color: white;
  position: absolute;
  right: 1em;
  top: 45%;
  margin: auto;
  cursor: pointer;
}

.right:hover {
  background-color: rgba(0, 0, 0, 0.7);
  transition: 0.4s;
}

.left:hover {
  background-color: rgba(0, 0, 0, 0.7);
  transition: 0.4s;
}

.indicators {
  margin-top: 5px;
  padding-left: 0;
  list-style: none;
  white-space: nowrap;
  overflow: hidden;
  width: 100%;
  height: 10vw;
}

.indicator {
  display: inline-block;
  width: 14%;
  height: 100%;
  margin: 0 0.15%;
  border: 1px solid black;
  border-radius: 0.1em;
  cursor: pointer;
  opacity: 0.7;
  background-size: cover;
  transition: 1s;
}

.counter {
  background-color: rgba(0, 0, 0, 0.7);
  bottom: calc(10vw + 5px);
  position: absolute;
  color: white;
  width: 100%;
  z-index: 100;
}

.indicator:hover {
  opacity: 1;
}
