.carouselContainer {
  position: relative;
  box-sizing: border-box;
  overflow: auto;
  display: inline-flex;
}

.carousel {
  position: static;
  display: flex;
  max-height: 300px;
  overflow-x: scroll;
  overflow-y: hidden;
  scroll-snap-type: x mandatory;
  scroll-behavior: smooth;
  -webkit-overflow-scrolling: touch;
}

.carouselContainer .carousel img {
  scroll-snap-align: center;
  width: 100%;
  height: auto;
}

.carouselContainer .carousel div {
  align-content: stretch;
  flex: 1 0 100%;
  scroll-snap-align: center;
  max-width: 100%;
}

.left {
  position: absolute;
  top: 50%;
  left: 1em;
  transform: translateY(50%);
}

.right {
  position: absolute;
  top: 50%;
  right: 1em;
  transform: translateY(50%);
}

.carousel-indicators {
  position: absolute;
  left: 50%;
  bottom: 10px;
  z-index: 15;
  margin: auto;
  padding-left: 0;
  list-style: none;
  white-space: nowrap;
}

.carousel-indicator {
  margin: auto;
  display: inline-block;
  width: 10px;
  height: 10px;
  margin: 1px;
  text-indent: -999px;
  border: 1px solid #fff;
  border-radius: 10px;
  cursor: pointer;
  background-color: rgba(0, 0, 0, 0);
}

.large {
  transition: 1s;
  transform: scale(0.9);
}

.medium {
  transition: 1s;
  transform: scale(0.7);
}

.small {
  transition: 1s;
  transform: scale(0.5);
}

.ex-small {
  transition: 1s;
  transform: scale(0.3);
}

.active {
  transition: 1s;
  background-color: white;
  margin: 1px 2px;
}

.inactive {
  transition: 1s;
  transform: scale(0);
}
